/*
-webkit-
-o-
-moz-
*/

/****** START main ******/

@font-face {
    font-family: ArialMT;
    src: url(/fonts/ArialMT.woff);
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-color: black;
	font-family: ArialMT, sans-serif, Areal;
	margin: 0;
	color: white;
}

#body-div {
	border: 1px solid red;
	width: 850px;
	height: 99%;
	margin: 0 auto 0 auto;
}

.err {
	background: linear-gradient(to top, #9e4700, #c77100);
	display: block;
	border-radius: 25px;
	font-size: 20px;
	text-align: center;
	width: 700px;
	margin: 5px 0 0 50px;
}

.err > p {
	margin: 0;
}
/****** ENS main ******/

/****** START header ******/
#header {
	background-color: black;
	color: white;
	position: fixed;
	top: 0px;
	height: 85px;
	width: 850px;
}

#header-back {
	height: 85px;
}

#img-logo {
	margin: 0 0 0 55px;
	width: 195px;
	height: 100%;
	float: left;
}

.control-buttons {
	background: linear-gradient(to top, #0d0d0d, #474747);
	border-radius: 10px;
	display: inline-block;
	height: 23px;
	margin: 55px 0 0 15px;
}

#home-button {
	margin-left: 95px;
	width: 95px;
}

#selection-button {
	width: 110px;
}

#auth-button {
	width: 130px;
}

#logout-button {
	width: 90px;
}

.control-buttons-content > img {
	width: 15px;
	height: 15px;
	float: left;
	margin: 4px 0 0 0;
}

#home-img {
	margin-left: 13px;
}

#selection-img {
	margin-left: 5px;
}

#auth-img {
	margin-left: 13px;
}

#logout-img {
	margin-left: 10px;
}

.control-buttons-content > p {
	display: inline-block;
	font-size: 10px;
	margin: 6px 0 0 10px;
}
/****** END header ******/

/****** START footer ******/
.footer,
#footer-label {
	display: block;
}

.footer {
	background-color: black;
	margin: 0 auto;
	/*position: fixed;*/
	height: 20px;
	bottom: 0;
	width: 175px;
}

#footer-label {
	font-size: 10px;
	margin: 0;
}
/****** END footer ******/

/****** START Views/Users/index.php part ******/
#login-form,
#login-button,
.login-form-input,
.login-form-label,
#auth-label {
	display: inline-block;
}

#login-form {
	background: linear-gradient(to bottom, #030303, #171717 ,#050505);
	border-radius: 25px;
	display: block;
	width: 430px;
	height: 260px;
	margin: 50px 0 70px 160px;
}

#login-button {
	background: linear-gradient(to top, #0f0f0f, #1c1c1c, #4d4d4d);
	border: none;
	font-size: 10px;
	color: white;
	border-radius: 25px;
	width: 100px;
	height: 23px;
	display: block;
	margin: 30px auto;
	cursor: pointer;
}

#login-button-p {
	display: inline-block;
	margin: 5px 0 0 12px;
}

#login-button-img {
	height: 10px;
	width: 10px;
	margin: 6px 0 0 17px;
	float: left;
}

.login-form-input {
	width: 240px;
	margin: 0 0 15px 20px;
}

.login-form-label {
	font-size: 12px;
	margin: 4px 0 0 70px;
	width: 45px;
	padding: 0 10px 0 0;
}

#auth-label {
	font-size: 14px;
	width: 50px;
	margin: 15px 0 30px 70px;
}
/****** END Views/Users/index.php part ******/


/****** START Views/Contacts/index.php part ******/
table {
	display: block;
	border-collapse: collapse;
	width: 780px;
}

#add-button {
	background: linear-gradient(to top, #7a1600, #661400);
	margin: 0 0 0 25px;
	border-radius: 25px 5px 0 0;
	width: 80px;
	height: 25px;
	cursor: pointer;
	border: none;
	color: white;
	font-size: 10px;
}

a {
	color: white;
	text-decoration: none;
	outline: none;
}

th, td {
	padding: 9px 12px 9px 0;
    text-align: left;
}

th {
	background-color: #404040;
	color: #bdbdbd;
	font-size: 10px;
	font-weight: normal;
}

tr {
	border-bottom: 1px solid #666;
	font-size: 12px;
	font-weight: bold;
}

#th-id {
	width: 50px;
}

#th-firstname {
	width: 130px;
}

#th-lastname {
	width: 140px;
}

#th-firstname > a,
#th-lastname > a {
	color: rgb(191,191,191);
}

#th-email {
	width: 175px;
}

#th-best-phone {
	width: 125px;
}

td {
	background-color: rgb(48,48,48);
}

tr:last-child > td {
	background: linear-gradient(to top, rgb(25,25,25), rgb(48, 48, 48));
	padding: 9px 12px 80px 0;
}

tr:last-child > td:first-child {
	border-bottom-left-radius: 25px;
}

tr > td:last-child {
	background: black;
	padding-left: 19px;
	border-bottom: 1px solid black;
	padding-left: 1px;
	width: 50px;
}



/*p:nth-last-child(2) {
    background: red;
}*/

tr > td:first-child {
	padding-left: 19px;
}

#table-div {
	display: block;
	width: 820px;
	height: 350px;
	margin: 17px 0 40px 40px;
}

th:first-child {
	border-top-left-radius: 25px;
}

th:last-child {
	border-top-right-radius: 25px;
}

tr:last-child > td:nth-last-child(2) {
	border-bottom-right-radius: 25px;
}

tr:last-child, tr:first-child {
	border-bottom: none;
}

tr:first-child > th {
	margin-bottom: 20px;
}

td:last-child {
	width: 110px;
}

.edit-button {
	background: linear-gradient(to top, #9e4700, #c77100);
	display: inline-block;
	font-weight: normal;
	border-radius: 10px;
	width: 60px;
	height: 18px;
	margin: 0 0 0 -10px;
}

.edit-button > a {
	display: inline-block;
	margin: 2px 0 0 1px;
}

.edit-button > p,
.delete-button > p {
	display: block;
	padding: 1px 0 0 5px;
	margin: 2px 0 0 0;
}

.delete-button > p {
	display: inline-block;
	margin: 2px 0 0 4px;
}

.delete-button {
	background: linear-gradient(to top, #911800, #b02f00);
	display: inline-block;
	font-weight: normal;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 29px;
	height: 18px;
	display: none;
}

tr:hover > td > a > div {
	display: inline-block;
}

#pagination-block {
	background: linear-gradient(to top, #7a1600, #661400);
	display: inline-block;
	width: 500px;
	height: 35px;
	margin: -1px 0 0 102px;
	border-radius: 0 0 25px 25px;
}

#previous-a,
#pages-block,
#next-a {
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	margin: 4px auto;
	height: 25px;
	width: 160px;
}

#previous-a > a,
#pages-block > a,
#next-a > a {
	display: inline-block;
	margin: 5px 0 0 0;
}

#pages-block > p {
	display: inline-block;
}

#previous-img {
	float: left;
}

#previous-a > a > p {
	display: inline-block;
	margin: 2px 0 0 5px;
}

#previous-a {
	border-right: 1px solid black;
}

#next-a {
	border-left: 1px solid black;
}

#next-a > a > p {
	float: left;
	margin: 2px 0 0 0;
}

#next-img {
	display: inline-block;
	margin: 2px 0 0 5px;
}
/****** END Views/Contacts/index.php part ******/

/****** START Views/Contacts/edit.php part ******/
#edit-form {
	background: linear-gradient(to top, #000000, #171717, #000000);
	border-radius: 25px 25px 0 0;
	width: 430px;
	height: 600px;
	margin: 5px auto;
}

#edit-title {
	display: block;
	margin: 35px 0 30px 70px;
	font-size: 14px;
}

#field > * {
	display: inline-block;
}

#field > label {
	color: #b5b5b5;
	font-size: 8px;
	width: 50px;
	margin: 13px 20px 13px 70px;
}

#field > .input {
	width: 245px;
}

.input-radio {
	width: 12px;
	margin: 0 0 0 -18px;
}

#button-submit {
	background: linear-gradient(to top, #0d0d0d, #171717, #4d4d4d);
	border-radius: 25px;
	color: white;
	border: none;
	display: block;
	margin: 0 auto;
	width: 95px;
	height: 25px;
	cursor: pointer;
}
/****** END Views/Contacts/edit.php part ******/

/****** START Views/Contacts/select.php part ******/
#accept-button,
#cancel-button {
	background: linear-gradient(to top, #9e4700, #c77100);
	margin: 0 0 0 20px;
	border-radius: 25px 5px 0 0;
	width: 80px;
	height: 25px;
	border: none;
	color: white;
	font-size: 10px;
	cursor: pointer;
}

#cancel-button {
	background: linear-gradient(to top, #7a1600, #661400);
	margin: 0 0 0 -4px;
}

input[type="checkbox"] {
	display: inline-block;
	height: 14px;
}

#checkbox-all {
	width: 60px;
}

#checkbox-all > input {
	float: left;
	margin: 0 0 0 20px;
}

#checkbox-all > p {
	display: inline-block;
	margin: 0 0 0 5px;
}
/******  END Views/Contacts/select.php part ******/