<?php

// Database constants...
define("DB_HOST","");       // host name...
define("DB_USER","");       // user name for DB...
define("DB_PASSWORD","");   // password for DB...
define("DB_NAME","");       // DB name...

// pagination constants...
define("MAX_ON_PAGE", /*some number*/);     // number of contacts on page...

// constants for images...
define("IMG_SORT_BY_DESC", "/*path to file*/");     // path to picture of sorting by DESC
define("IMG_SORT_BY_ASC", "/*path to file*/");      // path to picture of sorting by ASC