<?php

// Database constants...
define("DB_HOST","");       // host name...
define("DB_USER","");       // user name for DB...
define("DB_PASSWORD","");   // password for DB...
define("DB_NAME","");       // DB name...

// pagination constants...
define("MAX_ON_PAGE", /*some number*/);     // number of contacts on page...

// constants for images...
define("IMG_SORT_BY_DESC", "/*path to file*/");     // path to picture of sorting by DESC
define("IMG_SORT_BY_ASC", "/*path to file*/");      // path to picture of sorting by ASC

// constants for names of data tables...
define("CONTACTS_DB", "/*name of contacts table*/");
define("USERS_DB", "/*name of users table*/");

// all fields for contacts...
define ("ALL_CONTACTS_FIELDS", serialize (array ("id", "firstname", "lastname", "email", "home_phone", "work_phone",
			"cell_phone", "best_phone", "adress1", "adress2", "city", "state", "zip", "country", "birthday")));

// required fields for contacts...
define ("REQUIRED_CONTACTS_FIELDS", serialize (array ("firstname", "lastname", "email", "birthday")));
