/*
.perfectForm > #uname {
	background-color: red;
}
*/

/*
-webkit-
-o-
-moz-
*/

body {
	background-color: black;
	font-family: sans-serif;
	margin: 1px;
	color: white;
}

.err {
	background: linear-gradient(to top, #9e4700, #c77100);
	display: block;
	border-radius: 25px;
	font-size: 20px;
	text-align: center;
	width: 80%;
	margin: 0 auto 0 auto;
}

/****** START header ******/
#header {
	color: white;
	height: 85px;
	margin: 0;
}

#img-logo {
	position: absolute;
	width: 30px;
	margin: 20px 0 0 15px;
}

#company-name, #mirror {
	position: absolute;
	display: block;
	margin: 30px 0 0 50px;
	font-weight: bold;
}

#mirror {
	-webkit-transform: scaleY(-1);
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
		from(rgba(0,0,0,0)), to(rgba(0,0,0,0.4)));
	margin: 41px 0 0 50px;
}

#program-name {
	font-size: 12px;
	letter-spacing: 6px;
	color: #c7a299;
	position: absolute;
	display: block;
	margin: 60px 0 0 5px;
	font-weight: bold;
}

#logo {
	display: inline-block;
	background: linear-gradient(to bottom, #4d1100 ,#7a1600);
	border-radius: 0 0 25px 25px;
	width: 195px;
	height: 85px;
	margin: 0 0 0 55px;
	float: left;
}

#control-panel {
	display: inline-block;
	margin: 55px 0 0 300px;
}

.control-buttons {
	background: linear-gradient(to bottom, #474747 ,#0d0d0d);
	display: inline-block;
	border-radius: 10px;
	font-size: 9px;
	height: 23px;
	cursor: pointer;
	margin: 0 40px 0 0;
}

.control-buttons > p {
	display: block;
	margin-top: 5px;
}

#home-img {
	display: inline-block;
	margin: 3px 0 0 25px;
	width: 15px;
	height: 15px;
}

#home-button {
	width: 95px;
	right: 50px;
}

#selection-img {
	display: inline-block;
	margin: 3px 0 0 5px;
	width: 15px;
	height: 15px;
}

#selection-button {
	width: 95px;
}

#auth-img {
	display: inline-block;
	margin: 3px 0 0 25px;
	width: 15px;
	height: 15px;
}

#auth-button {
	width: 130px;
	right: 200px;	
}

#logout-img {
	display: inline-block;
	margin: 3px 0 0 20px;
	width: 15px;
	height: 15px;
}

#logout-button {
	width: 95px;
	right: 50px;
}

.control-buttons > a {
	display: block;
	margin-top: -3px;
}

#control-panel > div > img {
	float: left;
	margin-right: 5px;
}
/****** END header ******/

.footer {
	background-color: black;
	color: white;
	display: block;
	height: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#footer-label {
	font-size: 12px;
	display: block;
	margin: 5px auto;
	color: white;
	text-align: center;
}

/****** START Views/Users/index.php part ******/
#login-form {
	background: linear-gradient(to bottom, #030303, #171717 ,#050505);
	border: 1px solid black;
	border-radius: 25px;
	display: block;
	width: 430px;
	height: 260px;
	margin: 50px auto;
	clear:both;
}

.wrapper {
	position: relative;
	min-height: 100%;
}

#login-button {
	background: linear-gradient(to top, #0f0f0f, #525252);
	border: none;
	color: white;
	border-radius: 25px;
	width: 100px;
	height: 23px;
	display: block;
	margin: 30px auto;
}

#login-button:hover {
	cursor: pointer;
}

.login-form-input {
	display: inline-block;
	width: 240px;
	margin-bottom: 15px;
}

.login-form-label {
	font-size: 12px;
	display: inline-block;
	margin-top: 4px;
	margin-left: 65px;
	width: 75px;
	padding-right:10px;
	color: white;
}

#auth-label {
	font-size: 14px;
	display: block;
	width: 50px;
	margin-left: 65px;
	margin-top: 15px;
	margin-bottom: 30px;
	color: white;
}
/****** END Views/Users/index.php part ******/


/****** START Views/Contacts/index.php part ******/
table {
	background: linear-gradient(to top, #171717, #2e2e2e, #2e2e2e, #2e2e2e, #2e2e2e);
	border-radius: 25px;
    border-collapse: collapse;
	font-family: Arial, sans-serif;
	color: white;
}

#add-button {
	margin-left: 20px;
	border-radius: 25px 5px 0 0;
	width: 80px;
	height: 25px;
	cursor: pointer;
	background: linear-gradient(to top, #7a1600, #661400);
	border: none;
	color: white;
	font-size: 10px;
}

a {
	color: white;
	text-decoration: none;
}

th, td {
	padding: 12px;
	padding-left: 45px;
    text-align: left;
}

th {
	background-color: #404040;
	color: #bdbdbd;
	font-size: 10px;
	font-weight: normal;
}

tr {
	border-bottom: 1px solid #666;
	font-size: 12px;
	font-weight: bold;
}

#table-div {
	display: block;
	width: 715px;
	height: 300px;
	margin: 50px auto;
}

th:first-child {
	border-top-left-radius: 25px;
}

th:last-child {
	border-top-right-radius: 25px;
}

tr:last-child, tr:first-child {
	border-bottom: none;
}

td:last-child {
	width: 110px;
}

.edit-button {
	display: inline-block;
	background: linear-gradient(to top, #9e4700, #c77100);
	border-radius: 10px;
	width: 60px;
	height: 18px;
}

.edit-button > a {
	display: block;
	padding-left: 5px;
	padding-top: 1px;
}

.delete-button {
	display: inline-block;
	background: linear-gradient(to top, #911800, #b02f00);
	border-radius: 10px;
	width: 45px;
	height: 18px;
}

.delete-button > a {
	display: block;
	padding-left: 5px;
	padding-top: 1px;
}

#pagination-block {
	width: 500px;
	height: 35px;
	background: linear-gradient(to top, #7a1600, #661400);
	margin: 0 auto;
	border-radius: 0 0 25px 25px;
}

#previous-a,
#pages-block,
#next-a {
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	margin: 4px auto;
	height: 25px;
	width: 160px;
}

#previous-a > a,
#pages-block > a,
#next-a > a {
	display: inline-block;
	margin-top: 5px;
}

#previous-a {
	border-right: 1px solid black;
}

#next-a {
	border-left: 1px solid black;
}
/****** END Views/Contacts/index.php part ******/

/****** START Views/Contacts/edit.php part ******/
#edit-form {
	font-family: Arial, sans-serif;
	border-radius: 25px 25px 0 0;
	background: linear-gradient(to top, #000000, #171717, #000000);
	width: 430px;
	height: 600px;
	margin: 5px auto;
}

#edit-title {
	display: block;
	margin: 35px 0 30px 70px;
	font-size: 14px;
}

#field > * {
	display: inline-block;
}

#field > label {
	color: #b5b5b5;
	font-size: 8px;
	width: 50px;
	margin: 13px 20px 13px 70px;
}

#field > .input {
	width: 245px;
}

.input-radio {
	width: 12px;
	margin-left: -20px;
}

#button-submit {
	background: linear-gradient(to top, #0d0d0d, #171717, #4d4d4d);
	border-radius: 25px;
	color: white;
	border: none;
	display: block;
	margin: 0 auto;
	width: 95px;
	height: 25px;
	cursor: pointer;
}
/****** END Views/Contacts/edit.php part ******/